{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Flask Todo App</h1>
  <form action="/" method="POST">
    <input type="text" name="todo" placeholder="something need to be done..">
    <input type="submit" value="Add Task">
  </form>
  <div class="todos">
    {% for todo in todos %}
    <div class="todo">
      <p>{{ todo.todo }}</p>
      <span>{{ todo.created_at|diff_for_human() }}</span>
      <a href="/{{ todo.id }}/delete">x</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}