{% extends 'base.html' %}

{% block body %}
<div>
  <h1>Flask Todo App</h1>
  <div>
    <form action="/" method="POST">
      <input type="text" name="todo" placeholder="something need to be done.." required>
      <button type="submit"><i class="fas fa-plus"></i></button>
    </form>
  </div>
  {% if todos|length < 1 %}
  <p>There's no todos available, create one now!</p>
  {% else %}
  <div class="todos">
    {% for todo in todos %}
    <div class="todo">
      <div class="content">
        {% if todo.completed %}
        <p><strike>{{ todo.todo }}</strike></p>
        {% else %}
        <p>{{ todo.todo }}</p>
        {% endif %}
        <span>{{ todo.created_at|diff_for_human() }}</span>
      </div>
      <div class="action">
        <a href="/{{ todo.id }}/delete"><i class="fas fa-trash-alt"></i></a>
        <a href="/{{ todo.id }}/completed"><i class="fas fa-check"></i></a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}